
.field.left
	%label Nome
	= f.text_field :name, :autofocus => true
.field.left
	%label E-mail
	= f.email_field :email

.clear

.field.left
	%label Senha
	= f.password_field :password
.field
	%label Senha (confirmação)
	= f.password_field :password_confirmation

