.right= link_to 'Excluir', @admin_shop, :method => :delete, :data => { :confirm => 'Tem certeza que deseja excluir?' }, class: "button delete"
.right= link_to "Visualizar", @admin_shop, class: "button"

= render 'form'