.right= link_to 'Excluir', @admin_producer, :method => :delete, :data => { :confirm => 'Tem certeza que deseja excluir? Esta operação é irreversível.' }, class: "button delete"
.right= link_to "Visualizar", @admin_producer, class: "button"

= render 'form'