html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

#header #mobile-menu-btn {
	display: none;
}

.map_container {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 400px
}

.gmaps4rails_map {
    width: 400px;
    height: 400px
}

.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden
}

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none
}

.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important
}

.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0
}

.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden
}

.nivo-box img {
    display: block
}

.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.nivo-caption p {
    padding: 5px;
    margin: 0
}

.nivo-caption a {
    display: inline !important
}

.nivo-html-caption {
    display: none
}

.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer
}

.nivo-prevNav {
    left: 0px
}

.nivo-nextNav {
    right: 0px
}

.nivo-controlNav {
    text-align: center;
    padding: 15px 0
}

.nivo-controlNav a {
    cursor: pointer
}

.nivo-controlNav a.active {
    font-weight: bold
}

.theme-bar.slider-wrapper {
    position: relative;
    overflow: hidden
}

.theme-bar .nivoSlider {
    position: relative;
    background: #fff url(loading.gif) no-repeat 50% 50%
}

.theme-bar .nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none
}

.theme-bar .nivoSlider a {
    border: 0;
    display: block
}

.theme-bar .nivo-controlNav {
    position: absolute;
    left: 0;
    bottom: -41px;
    z-index: 10;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    background: #D2D2D2;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333', GradientType=0);
    opacity: 0.5;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

.theme-bar:hover .nivo-controlNav {
    bottom: 0;
    opacity: 1
}

.theme-bar .nivo-controlNav a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin: 5px 2px 0 2px
}

.theme-bar .nivo-controlNav a.active {
    background-position: 0 -22px
}

.theme-bar .nivo-directionNav a {
    display: block;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    top: auto;
    bottom: 10px;
    z-index: 11;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    opacity: 0.5;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

.theme-bar a.nivo-nextNav {
    right: -50px
}

.theme-bar a.nivo-prevNav {
    left: -50px
}

.theme-bar:hover a.nivo-nextNav {
    right: 15px;
    opacity: 1
}

.theme-bar:hover a.nivo-prevNav {
    left: 15px;
    opacity: 1
}

.theme-bar .nivo-directionNav a:hover {
    color: #ddd
}

.theme-bar .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

.theme-bar:hover .nivo-caption {
    bottom: 41px
}

.theme-bar .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff
}

.theme-bar .nivo-caption a:hover {
    color: #fff
}

.theme-bar .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%
}

.theme-bar .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px
}

.theme-bar .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto
}

@font-face {
    font-family: maiandra;
    src: local(maiandra), url("/fonts/Maiandra.ttf") format("truetype")
}
@font-face {
    font-family: 'Lucida';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/LucidaSans.ttf") format("truetype");
}

@font-face {
    font-family: 'Lucida';
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/LucidaSans-Bold.otf") format("truetype");
}

@font-face {
    font-family: 'Lucida';
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/LucidaSans-Italic.ttf") format("truetype");
}


body {
    color: ccc;
    background-color: #F4F4E5;
    font-size: 14px;
    line-height: 22px;
    font-family: "Lucida";
    font-weight: 400;
}

a,
a:visited {
    color: rgb(28, 121, 53);
}

h1 {
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0px 28px 0px;
}

h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 10px 0px
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 10px 0px
}

h4 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 10px 0px
}

h5 {
    font-size: 1.0em;
    line-height: 1.0em;
    margin: 10px 0px
}

h6 {
    font-size: 0.8em;
    line-height: 0.8em;
    margin: 10px 0px
}

p {
    margin: 0px 0px 10px 0px
}

table.formatted {
    width: 100%;
    table-layout: fixed;
}

table.formatted td {
    padding: 3px 6px;
}

table.formatted tr:nth-child(even) {
    background: #E2EFCC
}

table.formatted tr:nth-child(odd) {
    background: white
}

table.formatted thead th {
    padding: 3px 6px;
    border-bottom: 2px solid #CCC;
    font-weight: normal;
    cursor: pointer;
    *cursor: hand;
    font-size: 0.8em;
    color: #CCC;
    text-align: left
}

table.formatted tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 2px solid #CCC;
    font-weight: normal;
    font-size: 0.8em;
    color: #CCC;
    text-align: left
}

input,
select,
textarea {
    background: none;
    border: 1px solid #CCC;
    font-size: 1em;
    padding: 5px;
    color: #1c7935
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid #1c7935;
    outline: none
}

textarea {
    background: none;
    border: 1px solid #1c7935;
    padding: 5px;
    color: #1c7935
}

textarea:focus {
    border: 1px solid #e1eb83;
    outline: none
}

a.button,
input[type="submit"] {
    padding: 5px 10px;
    margin: 2px;
    background: #CCC;
    font-size: 0.9em;
    color: #1c7935;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-family: inherit;
    text-decoration: none
}

a.button.create,
a.button.new,
a.button.save,
a.button.submit,
a.button.login,
a.button.confirm,
input[type="submit"].create,
input[type="submit"].new,
input[type="submit"].save,
input[type="submit"].submit,
input[type="submit"].login,
input[type="submit"].confirm {
    color: white;
    background: #1c7935
}

a.button.edit,
a.button.update,
a.button.signup,
input[type="submit"].edit,
input[type="submit"].update,
input[type="submit"].signup {
    color: white;
    background: blue
}

a.button.destroy,
a.button.cancel,
a.button.delete,
input[type="submit"].destroy,
input[type="submit"].cancel,
input[type="submit"].delete {
    color: white;
    background: #d22f00
}

legend {
    font-size: 1.1em
}

label {
    display: block;
    font-size: 0.8em
}

.field {
    overflow: auto;
    padding: 5px
}

.actions {
    margin-top: 10px
}

.right {
    float: right
}

.left {
    float: left
}

.clear {
    clear: both
}

.hidden {
    display: none
}

.divider {
    clear: both;
    border-bottom: 2px solid #CCC;
    margin: 10px 0px
}

.box {
    clear: both;
    margin: 10px 0px;
    padding: 10px;
    background: #e1eb83
}

.box p {
    margin: 0px
}

.space {
    clear: both;
    height: 12px;
    display: block
}

#error_explanation {
    color: #d22f00
}

#error_explanation li {
    list-style: square
}

.field_with_errors {
    display: inline
}

.field_with_errors input {
    border: 1px solid red
}

body #container {
    width: 950px;
    margin: 0 auto;
    background-color: #fff;
}

body #container #header .top {
    height: 151px;
    background-color: #f4f4e5;
}

body #container #header .top .logo img {
    height: 92px;
    margin-top: 10px;
}

body #container #header .menu {
    height: 40px;
    background-color: #b0d06b;
    position: absolute;
    top: 110px;
    width: 100%;
    left: 0;
    font-family: maiandra, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
}
body #container #header .menu .center {
    position: relative;
    margin: auto;
    width: 950px;
}

body #container #header .menu li {
    list-style: none;
    float: left
}

body #container #header .menu li a {
    display: block;
    text-decoration: none;
    width: 135px;
    text-align: center;
    padding: 8px 0px;
    border-right: 1px solid white;
    color: white
}



body #container #header .menu li a:hover, body #container #header .menu li a.active {
    background-color: #1c7935;
}

body #container #header .menu li a.last {
    border-right: none;
    width: 134px
}

body #container #header .banner {
    height: 172px
}

body #container #main {
    overflow: auto;
    padding-bottom: 40px;
}

body #container #main #sidebar {
    width: 208px;
    overflow: auto;
    float: left;
    text-align: left;
    margin-top: 20px;
    padding: 0 20px;
    border-left: 2px dotted #CCC;
}
body #container #main #sidebar iframe{
    margin-top: 40px;
}

body #container #main #sidebar a.title {
    font-weight: bold;
    font-size:18px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

body #container #main #sidebar .categories {
    overflow: auto;
    margin-top: 13px
}

body #container #main #sidebar .categories ul {
    list-style-image: url("/assets/shared/list-image.png");
    padding: 0px 0px 0px 20px
}

body #container #main #sidebar .categories li,
body #container #main #sidebar .categories a {
    line-height: 1.4em;
    padding: 4px 0px;
    font-size: 0.9em;
    font-weight: bold;
    width: 155px
}

body #container #main #sidebar .categories li.active,
body #container #main #sidebar .categories a.active {
    color: #d22f00;
    font-size: 1em
}

body #container #main #sidebar .categories li {
    border-bottom: 1px solid #CCC
}

body #container #main .square-icon {
    width: 33px;
    height: 33px;
    background: url("/assets/shared/icons/square-icon.jpg") no-repeat
}

body #container #main .search {
    height: 60px;
    width: 100%;
}

body #container #main .search p {
    margin: 0px;
    padding: 6px 17px;
    float: left
}

body #container #main .search input[type="text"] {
    width: 166px;
    height: 12px;
    margin: 0px
}

body #container #main .search input[type="submit"] {
    width: 20px;
    height: 20px;
    position: relative;
    left: 0px;
    top: -3px;
    background: url("/assets/shared/icons/search.png") no-repeat;
    border: none;
    cursor: pointer;
    background-size: 20px 20px; 
}

body #container #main .search input[type="submit"].confirm {
    font-size: 2em
}

body #container #main .client {
    width: 388px;
    float: right;
    margin: 10px 20px;
    position: relative;
    z-index: 100;
}

body #container #main .client p {
    margin: 0px;
    float: right;
    font-size: 14px;
}


body #container #main .cart {
    height: 17px;
    padding-top: 4px;
    text-align: right;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    clear: both;
    
}

body #container #main .cart div {
    display: inline
}

body #container #main .cart a {
    text-decoration: none;
}

body #container #main .cart a:hover {
    text-decoration: underline;
}

body #container #main #content {
    float: left;
    width: 660px;
    padding: 10px 20px;
    overflow: auto;
    margin: -70px 0px 0px 0px;
}
body #container #main #content #home{
    width: 560px;
}

body #container #main #content li {
    list-style-type: circle;
    margin: 10px 30px
}

body #container #main #content input[type="submit"].big {
    font-size: 1.6em
}

body #container #main #content #contact-form .left-side {
    float: left;
    width: 420px;
    margin-right: 70px;
}

body #container #main #content #contact-form .left-side input,
body #container #main #content #contact-form .left-side textarea {
    width: 400px
}

body #container #main #content #contact-form .left-side input[type='submit'] {
    width: 100px
}

body #container #main #content #where_to_buy {
    margin-top: 20px
}

body #container #main #content #where_to_buy .item {
    clear: both;
    overflow: auto;
    margin: 5px 0px
}

body #container #main #content #where_to_buy .item img {
    width: 30px;
    float: left;
    margin-right: 10px
}

body #container #main #content .item-box,
body #container #main #sidebar .item-box {
    width: 140px;
    height: 240px;
    margin: 4px;
    margin-bottom: 10px;
    float: left;
    text-align: center
}

body #container #main #sidebar .item-box {
    width: 94px;
    height: 190px;
    position: relative;
}
body #container #main #sidebar .item-box:nth-child(2n+1) {
    clear: both;
}

body #container #main #content .item-box .image,
body #container #main #sidebar .item-box .image {
    height: 140px
}

body #container #main #sidebar .item-box .image {
    height: 94px;
}

body #container #main #content .item-box .image a img, 
body #container #main #sidebar .item-box .image a img {
    height: 140px;
    cursor: pointer;
    border: 1px solid #CCC
}

body #container #main #sidebar .item-box .image a img {
    height: 94px;
}

body #container #main #content .item-box .name, 
body #container #main #sidebar .item-box .name {
    height: 35px;
    font-size: 0.85em;
    line-height: 1.3em;
    padding-top: 10px;
    font-weight: bold
}

body #container #main #sidebar .item-box .name {
    height: auto;
    font-size: 12px;
    line-height: 16px;
    padding-top: 4px;
    font-weight: normal;
}

body #container #main #content .item-box .name a,
body #container #main #sidebar .item-box .name a {
    color: #1c7935
}

body #container #main #content .item-box .value,
body #container #main #sidebar .item-box .value {
    height: 25px;
    color: #d22f00;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer
}

body #container #main #sidebar .item-box .value {
    height: 20px;
    font-size: 8px;
}

body #container #main #content .item-box .value a,
body #container #main #sidebar .item-box .value a {
    color: white
}

body #container #main #content .item-box a.add,
body #container #main #sidebar .item-box a.add {
    display: block;
    height: 25px;
    background: #1c7935;
    font-size: 0.8em;
    color: white;
    text-decoration: none
}
body #container #main #sidebar .item-box a.add {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body #container #main #content .item-box a.add:hover,
body #container #main #sidebar .item-box a.add:hover {
    background: #e1eb83;
    color: #1c7935
}

body #container #main #content .item-box a.add.added,
body #container #main #sidebar .item-box a.add.added {
    background: #d22f00
}

body #container #main #content .item-box a.add.added:hover,
body #container #main #sidebar .item-box a.add.added:hover {
    background: #e1eb83;
    color: #1c7935
}

body #footer {
    height: auto;
    background: #fff url("/assets/shared/footer.jpg") top left repeat-x;
    padding-top: 30px;
    font-size: 0.7em;
    line-height: 1.5em;
    background-position: 0 -12px;
}

body #footer a {
    text-decoration: none
}

body #footer li {
    list-style: none
}

body #footer .footer-content {
    width: 950px;
    margin: 0 auto
}

body #footer .footer-content .col {
    margin-right: 30px;
    margin-left: 20px;
}
body #footer .footer-content .fb {
    margin-right: 20px
}

body #footer .footer-content .message {
    width: 560px;
    float: right;
    margin-right: 0px;
    text-align: right;
    font-size: 1.4em;
    line-height: 1.5em
}

.map {
    overflow: auto;
    padding: 20px;
    background: #e1eb83
}

.map .text {
    float: left;
    width: 280px
}

#product {
    padding: 20px;
    float: left;
    overflow: auto
}

#product img {
    margin: 0px 20px 20px 0px
}

#product .title {
    margin-bottom: 30px;
    line-height: 1.2em
}

#product .item a.add {
    background: #1c7935;
    padding: 10px;
    width: 200px;
    color: white;
    display: inline-block;
    line-height: 24px;
}

#product .item a.add:hover {
    background: #e1eb83
}

#product .description {
    font-size: 0.9em;
    margin-top: 10px
}

#cadastro input[type='text'],
#cadastro input[type='tel'],
#cadastro input[type='password'],
#cadastro input[type='email'] {
    width: 228px
}

#cadastro input[type='text'].full_width,
#cadastro input[type='tel'].full_width,
#cadastro input[type='password'].full_width,
#cadastro input[type='email'].full_width {
    width: 478px
}

#cadastro #buscar_CEP {
    color: green;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 3em
}

#order table {
    width: 100%
}

#order th {
    padding: 5px 10px;
    text-align: left;
    font-size: 0.8em;
    color: #CCC;
    border-bottom: 1px solid #e1eb83
}

#order td {
    padding: 5px 10px;
    border-bottom: 1px solid #e1eb83;
    vertical-align: middle;
    overflow: auto
}

#order td.total {
    border-top: 2px solid #e1eb83;
    border-bottom: none;
    color: #d22f00;
    font-size: 1.2em;
    height: 40px
}

#order td.total a.button,
#order td.total input[type="submit"] {
    font-size: 0.75em
}

#order img.image {
    width: 30px
}

.handle {
    font-size: 12px;
    color: #777;
    cursor: move
}

.toggle {
    cursor: pointer
}

.toggled {
    display: none
}


.website-contact_form_new-view #sidebar,
.website-page-view.loja #sidebar,
.website-category-view #sidebar,
.website-product-view #sidebar,
.website-order-view #sidebar, .website-order-view .client {
	display: none;
}

.website-contact_form_new-view #container #main #content {
	width: 910px;
	margin-top: 1px;
}
.website-contact_form_new-view #container #main #content .right-side{
	margin-top: 62px;
	float: left;
	width: 390px;
}
.website-contact_form_new-view #container #main #content .right-side p {
	font-size: 12px;
}


.website-page-view.loja #container #main,
.website-category-view #container #main,
.website-product-view #container #main {
	padding-bottom: 0;
}
.website-page-view.loja #container #main #content,
.website-category-view #container #main #content,
.website-product-view #container #main #content {
	width: 910px;
	overflow: hidden;
	padding-bottom: 60px;
}

.website-page-view.loja #container #main #content #categories,
.website-category-view #container #main #content #categories,
.website-product-view #container #main #content #categories {
	float:left;
	width: 210px;
	margin-left: -20px;
	padding: 20px 20px 200px 20px;
	background-color: #F6F8F3;
	margin-top: -8px;
	padding-bottom: 500em;
	margin-bottom: -500em;
}
#container #main #content #categories .categories {
	width: 200px;
}

.website-page-view.loja #container #main #content #categories li,
.website-category-view #container #main #content #categories li,
.website-product-view #container #main #content #categories li {
	list-style-type: none;
	margin: 0 0 10px 0;
}
.website-page-view.loja #container #main #content #categories li.active,
.website-category-view #container #main #content #categories li.active,
.website-product-view #container #main #content #categories li.active {
	color: #d22f00;
	font-weight: bold;
}
.website-page-view.loja #container #main #content #categories li a:hover,
.website-category-view #container #main #content #categories li a:hover,
.website-product-view #container #main #content #categories li a:hover {
	color: #d22f00;
}
.website-page-view.loja #container #main #content #home,
.website-category-view #container #main #content #home,
.website-product-view #container #main #content #home {
	float: left;
	width: 620px;
	margin-left: 30px;
	margin-top: 70px;
	padding-bottom: 500em;
	margin-bottom: -500em;
}


.website-order-view #container #main #content {
	margin-top: 20px;
}


.website-clients-sessions-new-view #new_client .field{
    width: 220px;
}
.website-clients-sessions-new-view #new_client .field.remember{
    clear: left;
}
.website-clients-sessions-new-view #new_client .field.remember input{
    float:left;
    width: auto;
    margin-right: 10px;
}
.website-clients-sessions-new-view #new_client .field input{
    width: 200px;
}


@media screen and (max-width: 768px) {
	body #container #header .top {
		height: 80px;
	}

	body #container #header .top .logo img {
		height: 63px;
		margin-left: 10px;
	}

	body #container,
	body #footer,
	body #footer .footer-content {
		width: 100%;
		overflow: hidden;
		min-width: 360px;
	}

	body #container #header .banner {
		height: 140px;
		overflow: hidden;
	}

	body #container #header #mobile-menu-btn {
		display: block;
		border: none;
		background: #b0d06b;
		position: fixed;
		z-index: 102;
		top: 13px;
		right: 10px;
		padding: 10px 10px 14px 10px;
		width: 42px;
		height: 40px;
		-webkit-transition: all 300ms ease 0s;
		transition: all 300ms ease 0s;
		font-size: 24px;
		cursor: pointer;
		z-index: 1001;
	}

	body #container #header #mobile-menu-btn .icon-bar {
		display: block;
		height: 2px;
		background-color: #393a32;
		margin-top: 3px;
	}

	body #container #header .menu {
		height: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 100%;
		width: 100%;
		overflow: auto;
		padding: 0;
			padding-top: 0px;
		background-color: #393a32;
		-webkit-transition: left 200ms ease 0s;
		transition: left 200ms ease 0s;
		margin-left: 0;
		padding-top: 80px;
		z-index: 1000;
	}
	
	body #container #header .menu li {
		display: block;
		width: 100%;
		border-bottom: 1px solid #a0a28d;
		margin: 0;
	}

	body #container #header .menu li a, body #container #header .menu li a.last {
		width: 100%;
		border: none;
		text-align: left;
		padding-left: 8px;
	}


	body #container #header.menu-opened #mobile-menu-btn {
		background: #9ea290;
	}
	body #container #header.menu-opened .menu {
		left: 0;
	}
	body #container #header.menu-opened .banner {
		display: none;
	}

	body #container #main .client {
		position: fixed;
		top: 0;
		right: 80px;
		margin-top: 7px;
		background-color: RGBA(176,208,107, 0.8);
		width: 280px;
		padding-right: 8px;
	}

	body #container #main #content {
		margin-top: 0px;
		width: 480px;
	}
	body #container #main #content #home {
		width: 100%;
	}

	body.website-clients-registrations-new-view #container #main #content {
		width: 680px;
	}

	body #container #main #sidebar {
		width: 206px;
	}

	.website-page-view.loja #container #main #content,
	.website-category-view #container #main #content,
	.website-product-view #container #main #content {
		width: calc(100% - 20px);
		padding-right: 0;
	}

	.website-page-view.loja #container #main #content #home,
	.website-category-view #container #main #content #home,
	.website-product-view #container #main #content #home {
		width: 460px;
		margin-top: -4px;
	}

	body.website-page-view #container #main #content #home img {
		width: 100%;
		height: auto;
	}

	.website-contact_form_new-view #container #main #content {
		width: calc(100% - 40px);
	}

	body #container #main #content #contact-form .left-side {
		width: 380px;
		margin-right: 30px;
	}

	body #container #main #content #contact-form .left-side input,
	body #container #main #content #contact-form .left-side textarea {
		width: 350px;
	}

	.website-contact_form_new-view #container #main #content .right-side {
		width: 300px;
	}

	.website-page-view.loja #container #main #content #home .table,
	.website-category-view #container #main #content #home .table,
	.website-product-view #container #main #content #home .table{
		overflow: auto;
		clear: both;
	}
}

@media screen and (max-width: 415px) {

	body {
		font-size: 12px;
	}
	
	body #container #header .banner {
		height: 64px;
	}

	.theme-bar .nivo-controlNav {
		height: 12px;
	}

	.theme-bar .nivo-directionNav a {
		font-size: 10px;
		bottom: 2px;
	}

	body #container #main .client {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 7px;
		background-color: transparent;
		width: 280px;
		float: left;
		margin-left: 10px;
	}

	body #container #main .client p {
		float: left;
		font-size: 12px;
	}

	body #container #main .cart {
		text-align: left;
		font-size: 12px;
	}

	body #container #main .cart div.right {
		float: left;
	}

	body #container #main #content {
		padding-left: 10px;
		padding-right: 10px;
		width: calc(100% - 20px);
	}

	body #container #main #sidebar {
		width: calc(100% - 20px);
		padding: 0 10px;
		border: none;
	}

	body #container #main #sidebar .item-box {
		margin-left: 0;
		margin-right: 28px;
	}

	body #container #main #sidebar .item-box:nth-child(2n+1) {
		clear: none;
	}

	body #container #main #sidebar .items .item-box:nth-child(3n+1) {
		clear: both;
	}
	body #container #main #sidebar .items .item-box:nth-child(3n) {
		margin-right: 0px;
	}

	body #footer {
		font-size: 11px;
	}

	body #footer .footer-content .fb {
		margin-right: 10px;
		position: absolute;
		bottom: 20px;
		left: 10px;
		width: calc(100% - 20px);
	}
	body #footer .footer-content {
		height: 520px;
		position: relative;
	}

	.website-page-view.loja #container #main #content #categories,
	.website-category-view #container #main #content #categories,
	.website-product-view #container #main #content #categories {
		width: 100%;
		padding: 20px 10px;
		margin-left: -10px;
		margin-bottom: 0;
		float: none;
	}

	body #container #main .search {
		height: 40px;
	}

	#container #main #content #categories .categories {
		width: 100%;
		height: 80px;
	}

	.website-page-view.loja #container #main #content #categories li,
	.website-category-view #container #main #content #categories li,
	.website-product-view #container #main #content #categories li {
		float: left;
		margin-bottom: 0px;
	}
	.website-page-view.loja #container #main #content #categories li:after,
	.website-category-view #container #main #content #categories li:after,
	.website-product-view #container #main #content #categories li:after {
		content: ' / ';
		margin-left: 2px;
		margin-right: 6px;
	}

	.website-page-view.loja #container #main #content,
	.website-category-view #container #main #content,
	.website-product-view #container #main #content {
		padding-right: 10px;
	}

	.website-page-view.loja #container #main #content #home,
	.website-category-view #container #main #content #home,
	.website-product-view #container #main #content #home {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
	}

	body #container #main #content .item-box {
		width: 104px;
	}

	body #container #main #content .item-box .image {
		height: 104px;
	}

	body #container #main #content .item-box .image a img {
		height: 104px;
	}

	.website-contact_form_new-view #container #main #content {
		width: calc(100% - 20px);
	}

	body #container #main #content #contact-form .left-side {
		width: 100%;
		margin-right: 0;
	}

	body #container #main #content #contact-form .left-side input,
	body #container #main #content #contact-form .left-side textarea {
		width: calc(100% - 12px);
	}
	body #container #main #content #contact-form .field {
		padding: 0;
	}

	.website-contact_form_new-view #container #main #content .right-side {
		width: 100%;
	}

	body.website-clients-registrations-new-view #container #main #content {
		width: calc(100% - 20px);
	}
	body.website-clients-registrations-new-view #container #main #content #new_client .field {
		padding: 0;
		float: left;
		clear: both;
	}
	body.website-clients-registrations-new-view #container #main #content #new_client .button {
		margin-bottom: 10px;
	}
}
