- if @categories
	.categories
		%ul
			- for category in @categories do
				%li{class: current_page?(link_to_category(category)) ? "active" : ""}= link_to_unless_current category.name, link_to_category(category)
